.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
}
.idpw{
  margin-bottom: 20px;
}
.logocon {
  margin-left: 52%;
  margin-top: 15%;
  width: 170px;
  /* margin: 0 auto; */
}


.welcome{
  padding-left: 30px;
  font-size: 50px;
  font-family: "Noto Sans KR", sans-serif;
  font-style: bold;
  color: #555;
  margin-left: 43%;
  margin-top: 300px;

}
.isMember{
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.login{
  font-size: 20px;
  font-weight: bold;
}
.form-div {
  z-index: 1;
  text-align: left;
}
.form-div, .button-div {
  transition: .5s ease-out;
}
form {
  border-radius: 5px;  
  display: flex;
  flex-direction: column;
  background-color: white;
}
input, button {
  margin: 5px;
}
/*SKELETON CSS*/

/*INPUT STYLING*/
input[type="text"],
input[type="password"],
textarea,
select
{
  height: 50px;
  padding: 30px 260px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 2px solid #D1D1D1;
  padding-left: 15px;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus 
{
  border: 3px solid #688e99;
  outline: 3px; 
}

/*BUTTON STYLING*/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] 
{
  display: inline-block;
  height: 70px;
  padding: 0 50px;
  color: #555;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus 
{
  color: #333;
  border-color: #888;
  outline: 0; 
}


.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary 
{
  color: #FFF;
  background-color: #688e99;
  border-color: #688e99; 
  
}


.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #688e99;
  border-color: #688e99; 
  
}