.idpw{
  margin-bottom: 20px;
}
.logocon {
  margin-left: 53%;
  margin-top: 15%;
  width: 170px;
}

.email{
  margin-left: 42%;
  width: 310px;
  height: 60px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  border: solid 2px;
  float: left;
}

.a{
  margin-left: 0.6%;
  margin-top: 1%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  width: 1%;
  float: left;
}

.select{
  width: 300px;
  height: 50px;
  margin-top: 4%;
  margin-left: 65%;
  color: #688e99;
  
}
.select:hover {
  color: #688e99;
  background-color: white;
}

.pw{
  margin-left: 42%;
  margin-top: 1%;
  width: 650px;
  height: 50px;
  padding-left: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  border: solid 2px;
}

.repw{
  margin-left: 42%;
  margin-top: 1%;
  width: 650px;
  height: 50px;
  padding-left: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  border: solid 2px;
}


.regi_btn2{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  margin-left: 42%;
  margin-top: 1%;
  width: 650px;
  height: 60px;
  padding-left: 15px;
  color: white;
  border: solid 1px;
  border-color:#688e99;
  border-radius: 5px;
  padding: 5px;
  background-color: #688e99;
}

.regi_btn2:hover {
  color: #688e99;
  background-color: white;
}

.select_mail{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  flex: none;
  top: 100px;
  right: 0;
}

input, button {
  margin: 5px;
}


input[type="text"],
input[type="password"],
textarea,
select
{
  height: 50px;
  padding: 30px 260px; 
  background-color: #fff;
  border: 2px solid #D1D1D1;
  padding-left: 15px;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
}

input[type="text"]:focus,
input[type="password"]:focus,
select
textarea:focus 
{
  border: 3px solid #688e99;
  outline: 3px; 
}
