.dropdown{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  flex: none;
  top: 100px;
  right: 0;
}
.btn-success{
    height: 40px;
    margin-left: auto;
    margin-right: 30px;
    background-color: #688e99 !important;
    border-color: #688e99 !important;
}
.main-post{
  display: flex;
  flex-wrap: wrap;
  flex: none;
  justify-content: flex-end;
  flex-direction: row;
  right: 0;
  margin-right: 30px;
  top: 130px;
}
.pagination{
  width: 5%;
  margin-right: 50%;
  margin-top: 1%;
}

.page-item.active .page-link {
  background-color: #688e99 !important;
  border-color: #688e99 !important;
}