.dropdown{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  flex: none;
  top: 100px;
}
.btn-success{
    height: 40px;
    width: 7.5%;
    margin-left: auto;
    margin-right: 30px;
    background-color: #688e99 !important;
    border-color: #688e99 !important;
}

.main-post{
  display: flex;
  flex-wrap: wrap;
  flex: none;
  justify-content: flex-end;
  flex-direction: row;
  right: 0;
  margin-right: 30px;
  top: 130px;
}
