.header-template {
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex: none;
  flex-direction: row;
}

.search {
  background: white;
  margin-left: 22.5%;
  width: 600px;
  height: 50px;
  padding-left: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  border: solid 2px;
  border-color:#688e99;
  border-radius: 5px;
}

.gobtn {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  margin-left: 10px;
  height: 50px;
  width: 70px;
  color: white;
  border: solid 1px;
  border-color:#688e99;
  border-radius: 5px;
  padding: 5px;
  background-color: #688e99;
}

.gobtn:hover {
  color: #688e99;
  background-color: white;
}

.header-items {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 30px;
}

.signinicon, .mypageicon {
  margin-left: 10px;
  height: 30px;
}

.signinw, .mypagew {
  margin-top: 35px;
  margin-left: 10px;
  height: 30px;
}

.sign-in, .mypage {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 13px;
}

a{
  color: black !important;
}

.recommend {
  display: flex;
  flex: none;
  flex-direction: row;
}
