.main-post{
    width: 83%;
    position: absolute;
    height: 85%;
}
.post{
    position: relative;
    width: 29%;
    height: 40%;
    border: solid 1px darkgrey;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 10px 10px 10px 10px;
}
.post a {
    position: absolute;
    top: 78%;
    left: 3%;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    width: 95%;
}
.post-thumb{
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 75%;
    z-index: -1;
    border-radius: 10px 10px 0px 0px;
}
.post-footer
{
    position: absolute;
    right: 0;
    width: 30%;
    height: 15%;
    background: white;
    bottom: 25%;
    background-color: rgba( 255, 255, 255, 0.5 );
    display: inline-flex;
    border-radius: 10px 0px 0px 0px;
    padding-right: 5px;
}
.share{
    width: 25%;
    margin: 5% 0 5% 10%;
}
.like{
    width: 25%;
    margin: 5% 0 5% 5%;
}

.count-num
{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-right: 5px;
    width: 100%;
    color : black;
}

.modal-body{
    display: flex;
    justify-content: space-around
}

.modal-title{
    font-size: 22px;
    margin-left: 8%;
}

.modal-content{
    margin-top: 50%;
}

.kakao-title{
    position: absolute;
    left: 15%;
    bottom: -18%;
    font-size: 13px;
}

.facebook-title{
    position: absolute;
    bottom: -18%;
    font-size: 13px;
}
.link-title{
    position: absolute;
    right: 13.5%;
    bottom: -18%;
    font-size: 13px;
}