.main-post{
    width: 83%;
    position: absolute;
    height: 85%;
    left: 16.3%;
    top: 16%;
    display: flex;
    flex-wrap: wrap;
}
.post{
    position: relative;
    width: 31%;
    height: 48%;
    border: solid 1px darkgrey;
    margin-right: 2%;
    margin-bottom: 2%;
}
.post a {
    position: absolute;
    top: 85%;
    left: 1%;
    font-size: 18px;
    color: black;
    text-decoration: none
}
.post-thumb{
    position: absolute; top:0; left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
}
.post-footer
{
    position: absolute;
    right: 0;
    width: 32%;
    height: 15%;
    background: white;
    bottom: 20%;
    background-color: rgba( 255, 255, 255, 0.5 );
    display: inline-flex;
}
.share{
    width: 25%;
    margin: 5% 0 5% 10%;
}
.like{
    width: 25%;
    margin: 5% 0 5% 5%;
}

.count-num
{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 8%;
    color : black;
}