.post{
  margin-top: 3%;
}
.Mypage-top{
    position: absolute;
    font-size: 30px;
    left: 22.5%;
    margin: 0;
    top: 13%;
    font-weight: bold;
    color: #688e99;
}
.Mypage-like{
    width: 83%;
    position: absolute;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    flex: none;
    justify-content: flex-end;
    flex-direction: row;
    top: 20%;
    right: 0;
    margin-top: 10px;
    margin-right: 30px;
}
.Mypage-share{
  width: 83%;
  position: absolute;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  flex: none;
  justify-content: flex-end;
  flex-direction: row;
  top: 70%;
  right: 0;
  margin-top: 10px;
  margin-right: 30px;
}
.Mypage-like-title{
    display: flex;
    flex-direction: row;
    flex: none;
    align-items: center;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    left: 120px;
}

.Mypage-share-title{
    display: flex;
    flex-direction: row;
    flex: none;
    align-items: center;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    left: 120px;
}
.my-like, .my-share{
    height: 24px;
    margin-right: 10px;
}

.btn-info {
    color: #fff;
    background-color: #688e99 !important;
    border-color: #688e99 !important;
    position: absolute;
    top: 50%;
    /* right: 3%; */
    height: 7%;
    width: 8%;
}
.btn.btn-share{
    color: #fff;
    background-color: #688e99 !important;
    border-color: #688e99 !important;
    position: absolute;
    top: 50%;
    height: 7%;
    width: 8%;
}
